<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to suporte@fcontrol.com.br so we can send you a copy immediately.
 *
 * @category   Fcontrol
 * @package    Fcontrol_Payu
 * @copyright  Copyright (c) 2016 FCONTROL (https://www.fcontrol.com.br/)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <sections>
        <sales translate="label" module="fcontrol">
            <groups>
                <fcontrol translate="label">
                    <label>FControl by PayU (Solução Antifraude)</label>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                        <![CDATA[
                            <div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;">
                            No modelo de Fila é necessário acessar o <a href="https://secure.fcontrol.com.br/filaanalise/" target="_blank">Painel de Fila</a> para consultar as análises.
                            Em caso de bugs ou solicitação de suporte entre em contato através do e-mail <a href="mailto:suporte@fcontrol.com.br">suporte@fcontrol.com.br</a>.
                            </div>
                        ]]>
                    </comment>
                    <fields>
                        <active translate="label">
                            <label>FControl ativado?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <sandbox translate="label">
                            <label>Habilitar ambiente Sandbox?</label>
                            <comment><![CDATA[Deixe o Sandbox habilitado somente para utilização de credenciais em ambiente de testes/homologação. Em modo Produção deixe esta opção desabilitada.]]></comment>
                            <tooltip><![CDATA[Utilizar o FControl em modo de testes?]]></tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox>
                        <user translate="label">
                            <label>Nome do usuário</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Login do usuário cadastrado na FControl.]]></comment>
                        </user>
                        <password translate="label">
                            <label>Senha do usuário</label>
                            <frontend_type>obscure</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Senha do usuário cadastrado na FControl.]]></comment>
                        </password>
                        <type_service translate="label">
                            <label>Tipo do Serviço</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fcontrol/source_service</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Selecione o tipo de serviço contratado no FControl.]]></comment>
                        </type_service>
                        <payments translate="label">
                            <label>Habilitar FControl para os métodos:</label>
                            <frontend_model>fcontrol/adminhtml_system_config_payments</frontend_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Os pedidos feitos através dos métodos de pagamento marcados acima estarão habilitados para a análise do FControl.]]></comment>
                        </payments>
                        <savelog translate="label">
                            <label>Salvar Logs?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Local do arquivo: {{base_dir}}/var/log/fcontrol.log (ATENÇÃO!! É necessário habilitar o log do Magento em System > Configuration > Advanced > Developer > Log Settings)</comment>
                        </savelog>
                    </fields>
                </fcontrol>
            </groups>
        </sales>
    </sections>
</config>